RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /kargosha-new/verify/Public/index.php?path=$1 [NC,L,QSA]

# location / {
# 	try_files $uri $uri/ /index.php;
# }